{
    "broker": {
        "host": "103.186.31.38",
        "port": 51883,
        "topic": "hyperbase-scylla",
        "token_id": "de8c1682-f546-4348-b3d3-552135ebc2cd",
        "token": "P3azdYgEw53XFZGsCAvn6Btojy6mC6R3uEm6tGtDkM",
        "mqtt_version": "v5"
    },
    "payload": {
        "project_id": "de8c1682-f546-4348-b3d3-552135ebc2cd",
        "token_id": "de8c1682-f546-4348-b3d3-552135ebc2cd",
        "device": {
            "collection_id": "de8c1682-f546-4348-b3d3-552135ebc2cd",
            "id": "de8c1682-f546-4348-b3d3-552135ebc2cd"
        },
        "collection_id": "de8c1682-f546-4348-b3d3-552135ebc2cd",
        "data": {
            "any_field": "any_value",
            "any_field2": "2024-03-18T07:17:05.573Z",
            "any_field3": 9.625
        }
    },
    "count": 10,
    "delay": 1
}